.topnav {
  width: 1330px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 50px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logo {
  width: 110px;
  height: 93px;
  margin-top: 0;
}

a {
  color: #1D3557;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px; 
  display: inline-block; 
  white-space: nowrap; 
}

a:not(:last-child) {
  margin-right: 35px; 
}

a {
  color: #1D3557;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  display: inline-block; 
  position: relative;
  transition: all 0.3s ease;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #a8cfe2;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

a:hover {
  color: #457b9d;
  transform: scale(1.05); 
}

  
  h6 {
    font-size: 40px;
    margin-left: 35%;
    margin-top: 16%;
  }
  
  h1 {
    font-size: 70px;
    margin-left: 35%;
    margin-top: 1%;
  }
  
h3 {
        font-size: 35px;
        margin-top: 18%;
        margin-left: 0;
        color: #B6312C;
        text-align: center;
        font-weight: 600;
}
      
p {
        max-width: 1000px;
        margin: 20px auto;
        font-size: 18px;
        line-height: 1.8;
        color: #333;
        text-align: justify;
        background: rgba(255, 255, 255, 0.8); 
        padding: 20px 30px;
        border-radius: 12px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
    }
  
  body {
    background-image: url("Images/fundoHome.png");
    background-repeat: no-repeat;
    background-position: 0px 150px;  
    background-size: 1409px 590px;  
    background-attachment: center;
    height: 150vh;         
    width: 95vw;
  }
  